:global{
    nav>span{
        color: rgb(55, 36,37);
    }
    .search{
        display: flex;
        height: 100px;
        align-items: center;
    }
    .select_opt{
        display: flex;
        margin-right: 40px;
    }
    .btn_add_type{
        width: 120px;
        height: 34px;
        margin-top: -7px;
    }
}
.header{
    width: 100%;
    background: #fff;
    flex:1;
    padding: 40px 45px;
    box-sizing: border-box;
    border-radius:10px;
}
.btns{
    color: rgb(55, 36,37);;
}
.p{
    margin-top: 5px;
}