:global{
    h2{
        margin-bottom: 20px;
        font-weight:500;
        font-size: 22px;
        height: 50px;
    }
    .btn_add{
        width: 160px;
        height: 44px;
        font-size: 16px;
        margin-bottom: 25px;
    }
    html,body,#root{
        width: 100%;
        height: 100%;
    }
    .content{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        padding: 20px;
        box-sizing: border-box;
    }
    .main{
        width: 100%;
        background: #fff;
        flex:1;
        padding: 20px;
        box-sizing: border-box;
        border-radius:10px;
    }
    .for-container{
        width: 1200px;
        height: 300px;
    }
}
.title{
    width: 90%;
    height: 80px;
    margin:  0 auto;
    font-size: 25px;
    line-height: 80px;
}
.bottom{
    width: 90%;
    height: auto;
    margin: 0 auto;
    // padding:20px ;
    background: #fff;
    border-radius: 10px;
}
.list{
    margin-top: 20px;
}