.info{
    width: 100%;
    display: flex;
}
.left{
    width: 60%;
    background: #fff;
    margin-right: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    box-sizing: border-box;
}
.right{
    width: 38%;
    background: #fff;
    border-radius: 10px;
}
.list{
    width: 90%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}