:global {
  *{
    margin:0;
    padding: 0;
    list-style: none
  }
  .box{
    width:100%;
    height: 100%;
    background: #fff;
    border-radius: 10px;
    padding-top:20px;
  }
  p{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    li{
      font-size: 14px;
    }
    span{
      color:red;
    }
    .ant-input{
      width:40%;
    }
  }
}

.lio,.ps p li,.timer li{
  margin-bottom: 10px;
}

.ps,.submit{
  margin-top: 40px;
}

.ps p{
  margin-bottom: 40px;
}

.submit{
  background: linear-gradient(-90deg,#4e75ff,#0139fd)!important;
  width: 130px;
}