.markcont{
  input{
    height: 45px;
    font-size: 14px;
  }  
}
.daanTit{
  margin-top:15px;
}
p{
  margin-top:10px;
  color: rgba(0, 0, 0, 0.85);
}
.submit_btn{
  margin-top:15px;
  width: 110px;
  height: 40px;
  background: linear-gradient(-90deg,#4e75ff,#0139fd)!important;
}