.content{
  .markcont{
    width:500px;
    overflow: hidden;
    p{
      margin-top:10px;
    }
    input{
      height: 45px;
      font-size: 14px;
      margin-bottom: 20px;
    }  
  }
  .daanTit{
    margin-top:15px;
  }
  .submit_btn{
    margin-top:15px;
    width: 120px;
  }
}