.title{
  width: 90%;
  height: 80px;
  line-height: 80px;
  margin: 0 auto;
  font-size: 25px;
}
.bottom{
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
}
.form{
  width: 90%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 80px;
}