.title{
  width: 90%;
  height: 80px;
  line-height: 80px;
  font-size: 25px;
  margin: 0 auto;
}
.bottom{
  width: 90%;
  height: auto;
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
}